<div class="container">

    <form [formGroup]="updateForm">

        <mat-form-field appearance="fill">
            <input matInput type="text" value="{{ user._id }}" [disabled]="true">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" value="{{ user.name }}">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" value="{{ user.surname }}">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" value="{{ user.description }}">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input type="number" min="18" max="100" matInput formControlName="age" value="{{ user.age }}">
        </mat-form-field>
    
        <button type="submit" mat-raised-button [disabled]="updateForm.invalid" (click)="updateData(user._id, updateForm.value)">Update</button>
    
    </form>

</div>